<!-- this could be a piece of code for displaying users cars to user we may need more or less files of this type for app I included it here for structure reference-->
<section>
    <div>
        <a>{{make}}</a>
        <a>{{model}}</a>
        <a>{{year}}</a>
       
    </div>
</section>