<!-- this will be main html page a user see's before logging in and also should offer logout choice if logged in, users will also be created here -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutoBase</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">AutoBase</a>
      </h1>
      <nav>
     {{#if loggedIn}}
      <a href="/dashboard">dashboard</a>
      <button id="logout" class="btn-no-style">logout</button> 
      {{else}}     
       <a href="/login">login</a>
       {{/if}}
                 
      </nav>
      
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <small>&copy; Copyright 2021, AutoBase LLC.</small>
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>