<!-- this is a logged in users homepage displaying different vehicles and their logs ? -->
<section>
    <div class="welcome">
        <h1>Welcome to the worlds largest Automotive Maintenance Database.</h1>
    </div>
    <div class="signupLogin">
        <div>
            <a href="/signup">sign up now</a>
        </div>
        <div>
            <a href="/login">log in</a>
        </div>
    </div>
</section>