<!-- this is a logged in users homepage displaying different vehicles and their logs ? -->
<section>
    <div class="welcome">
        <h1>Welcome to the worlds largest Automotive Maintenance Database.</h1>
    </div>

    <a class="signupLogin" href="/signup">sign up now</a>
    <a class="signupLogin" href="/login">log in</a>


</section>